[user]
	email = 129492860+mostlyworking@users.noreply.github.com
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true
[merge]
	tool = nvim
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "nvim"]
	cmd = nvim -c \"set hidden\" -c \"leftabove vertical diffsplit $LOCAL\" -c \"rightbelow vertical diffsplit $REMOTE\" -c \"wincmd J\" -c \"edit $MERGED\" -c \"wincmd k\" \"$MERGED\"
